.e-map__container {
  position: relative;
  block-size: 100%;
  inline-size: 100%;
  overflow: hidden;
}

.e-map {
  block-size: 100%;
  inline-size: 100%;
}

.e-map__loader {
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 1;
  width: 2rem;
  height: 2rem;
  padding: 0;
}

.e-map__settings {
  inline-size: 160px;
  border: 1px solid var(--calcite-color-border-3);
  box-shadow: var(--calcite-shadow-md);
  background-color: var(--calcite-color-foreground-1);
  position: absolute;
  right: 1rem;
  bottom: 2rem;
  z-index: 1;
  block-size: auto;
}

.e-map__settings calcite-label {
  --calcite-label-margin-bottom: 0;
}

.e-map__settings-body {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

