.e-confirm {
  --calcite-modal-width: 440px;
  --calcite-modal-content-background: var(--calcite-color-background);
}

.e-confirm p {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.e-confirm div[slot="header"] {
  font-size: var(--calcite-font-size-1);
}

